<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XHFMultiPhotoPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8CD48D6175896380060E4D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8CD493217589D720060E4D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8EC8BF31758D77600BAC0F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
